<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sd.farmework.mapper.SysFunctionModuleRuleMapper">

	<resultMap type="com.sd.farmework.pojo.SysFunctionModuleRule"
		id="sysFunctionModuleRuleMap">
		<result column="FUNCTION_MODULE_RULE_BASE_ID" property="functionModuleRuleBaseId" />
		<result column="FUNCTION_MODULE_ID" property="functionModuleId" />
		<result column="FUNCTION_MODULE_NAME" property="functionModuleName" />
		<result column="FUNCTION_MODULE_DESC" property="functionModuleDesc" />
		<result column="FUNCTION_ID" property="functionId" />
		<result column="FUNCTION_NAME" property="functionName" />
		<result column="FUNCTION_MODULE_TYPE_ID" property="functionModuleTypeId" />
		<result column="FUNCTION_MODULE_TYPE_NAME" property="functionModuleTypeName" />
		<result column="MODULE_FORM_DATA_TYPE" property="moduleFromDataType" />
		<result column="MODULE_FORM_DATA_NAME" property="moduleFromDataName" />
		<result column="IS_SHOW" property="isShow" />
		<result column="IS_ORDER" property="isOrder" />
		<result column="ORDER_STYLE" property="orderStyle" />

		<!-- 系统公共属性 必须按照规定存取数据start -->
		<result column="REMARK" property="remark" />
		<result column="STATUS" property="status" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER_ID" property="createUserId" />
		<result column="CREATE_USER_NAME" property="createUserName" />
		<result column="CREATE_TEAM_ID" property="createTeamId" />
		<result column="CREATE_TEAM_NAME" property="createTeamName" />
		<result column="CREATE_DEPART_ID" property="createDepartId" />
		<result column="CREATE_DEPART_NAME" property="createDepartName" />
		<result column="CREATE_UNIT_ID" property="createUnitId" />
		<result column="CREATE_UNIT_Name" property="createUnitName" />
		<result column="LAST_UPDATE_TIME" property="lastUpdateTime" />
		<result column="LAST_UPDATE_USER_ID" property="lastUpdateUserId" />
		<result column="LAST_UPDATE_TEAM_ID" property="lastUpdateTeamId" />
		<result column="LAST_UPDATE_TEAM_NAME" property="lastUpdateTeamName" />
		<result column="LAST_UPDATE_DEPART_ID" property="lastUpdateDepartId" />
		<result column="LAST_UPDATE_DEPART_NAME" property="lastUpdateDepartName" />
		<result column="LAST_UPDATE_UNIT_ID" property="lastUpdateUnitId" />
		<result column="LAST_UPDATE_UNIT_Name" property="lastUpdateUnitName" />
		<!-- 系统公共属性 必须按照规定存取数据end -->

	</resultMap>

	<insert id="addBatch" parameterType="java.util.List">
	begin
	<foreach collection="list" item="item" separator=";" >
		insert into
		sys_function_module_rule
		(
		function_module_rule_base_id,
		function_module_id,
		function_module_name,
		function_module_desc,
		function_id,
		function_name,
		FUNCTION_MODULE_TYPE_ID,
		function_module_type_name,
		module_form_data_type,
		module_form_data_name,
		IS_SHOW,
		is_order,
		order_style,
		create_time,
		create_user_id,
		create_user_name,
		create_team_id,
		create_team_name,
		create_depart_id,
		create_depart_name,
		create_unit_id,
		create_unit_name
		)values
		(#{item.functionModuleRuleBaseId},
		#{item.functionModuleId},
		#{item.functionModuleName},
		#{item.functionModuleDesc},
		#{item.functionId},
		#{item.functionName},
		#{item.functionModuleTypeId},
		#{item.functionModuleTypeName},
		#{item.moduleFromDataType},
		#{item.moduleFromDataName},
		#{item.isShow},
		#{item.isOrder},
		#{item.orderStyle},
		sysdate,
		#{item.createUserId},
		#{item.createUserName},
		#{item.createTeamId},
		#{item.createTeamName},
		#{item.createDepartId},
		#{item.createDepartName},
		#{item.createUnitId},
		#{item.createUnitName}
		)
	</foreach>
	;end;
	</insert>

	<delete id="delete" parameterType="java.lang.String">
		delete from
		sys_function_module_rule
		where FUNCTION_MODULE_RULE_BASE_ID = #{functionModuleRuleBaseId}
	</delete>

	<select id="query" parameterType="com.sd.farmework.pojo.SysFunctionModuleRule"
		resultMap="sysFunctionModuleRuleMap">
		select function_module_rule_base_id, function_module_id,
		function_module_name, function_module_desc, function_id, function_name,
		function_module_type_id, function_module_type_name,
		module_form_data_type, module_form_data_name,
		is_show, is_order, order_style, remark, status, create_time,
		create_user_id, create_user_name, create_team_id, create_team_name,
		create_depart_id, create_depart_name, create_unit_id,
		create_unit_name,
		last_update_time, last_update_user_id, last_update_user_name,
		last_update_team_id, last_update_team_name, last_update_depart_id,
		last_update_depart_name, last_update_unit_id, last_update_unit_name
		from sys_function_module_rule
		where  function_module_id=#{functionModuleId} and FUNCTION_MODULE_RULE_BASE_ID=(select FUNCTION_MODULE_RULE_BASE_ID from Sys_Function_Module_Rule_Base where user_ids=#{userIds})
	</select>
	
	<select id="queryList" parameterType="com.sd.farmework.pojo.SysFunctionModuleRule" resultMap="sysFunctionModuleRuleMap">
		select function_module_rule_base_id, function_module_id,
		function_module_name, function_module_desc, function_id, function_name,
		function_module_type_id, function_module_type_name,
		module_form_data_type, module_form_data_name,
		is_show, is_order, order_style, remark, status, create_time,
		create_user_id, create_user_name, create_team_id, create_team_name,
		create_depart_id, create_depart_name, create_unit_id,
		create_unit_name,
		last_update_time, last_update_user_id, last_update_user_name,
		last_update_team_id, last_update_team_name, last_update_depart_id,
		last_update_depart_name, last_update_unit_id, last_update_unit_name
		from sys_function_module_rule
		where function_module_rule_base_id=(select FUNCTION_MODULE_RULE_BASE_ID from Sys_Function_Module_Rule_Base where user_ids=#{userIds}) and function_id=#{functionId}
	</select>
</mapper> 

